/* Dark mode colors. */
:root {
    --sl-color-accent-low: #430922;
    --sl-color-accent: #c00065;
    --sl-color-accent-high: #fab0c6;
    --sl-color-white: #e2d5be;
    --sl-color-gray-1: #d3869b;
    --sl-color-gray-2: #faefdb;
    --sl-color-gray-3: #faefdb;
    --sl-color-gray-4: #585858;
    --sl-color-gray-5: #383838;
    --sl-color-gray-6: #272727;
    --sl-color-black: #181818;

    --sl-color-blue: #458588;
    --sl-color-blue-low: hsl(from var(--sl-color-blue) h s 20%);
    --sl-color-blue-high: hsl(from var(--sl-color-blue) h s 80%);
    --sl-color-purple: #b16286;
    --sl-color-purple-low: hsl(from var(--sl-color-purple) h s 20%);
    --sl-color-purple-high: hsl(from var(--sl-color-purple) h s 80%);
    --sl-color-orange: #d65d0e;
    --sl-color-orange-low: hsl(from var(--sl-color-orange) h s 20%);
    --sl-color-orange-high: hsl(from var(--sl-color-orange) h s 80%);
    --sl-color-red: #cc241d;
    --sl-color-red-low: hsl(from var(--sl-color-red) h s 20%);
    --sl-color-red-high: hsl(from var(--sl-color-red) h s 80%);
}
/* Light mode colors. */
:root[data-theme="light"] {
    --sl-color-accent-low: #fec5d5;
    --sl-color-accent: #945e80;
    --sl-color-accent-high: #600030;
    --sl-color-white: #644735;
    --sl-color-gray-1: #644735;
    --sl-color-gray-2: #796051;
    --sl-color-gray-3: #796c63;
    --sl-color-gray-4: #beb795;
    --sl-color-gray-5: #beb795;
    --sl-color-gray-6: #ddd5b3;
    --sl-color-gray-7: #f5edca;
    --sl-color-black: #f9f5d7;

    --sl-color-blue: #458588;
    --sl-color-blue-low: hsl(from var(--sl-color-blue) h s 90%);
    --sl-color-blue-high: hsl(from var(--sl-color-blue) h s 20%);
    --sl-color-purple: #b16286;
    --sl-color-purple-low: hsl(from var(--sl-color-purple) h s 90%);
    --sl-color-purple-high: hsl(from var(--sl-color-purple) h s 20%);
    --sl-color-orange: #d65d0e;
    --sl-color-orange-low: hsl(from var(--sl-color-orange) h s 90%);
    --sl-color-orange-high: hsl(from var(--sl-color-orange) h s 20%);
    --sl-color-red: #cc241d;
    --sl-color-red-low: hsl(from var(--sl-color-red) h s 90%);
    --sl-color-red-high: hsl(from var(--sl-color-red) h s 20%);
}
